<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>International Airlines Group</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col-md-12">
                <img height="150" src="~/images/iag-logo-b.png" alt="logo" class="iag-logo-center "/>
            </div>
            <div class="col-md-7 mt-5">
            </div>
        </header>
        @RenderBody()
    </div>
</body>
</html>