<div class="row">
    <h4 class="mb-3 ml-5">Airlines:</h4>
</div>

<div id="airlines"></div>

<script src="~/js/site.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    renderAirlines();
</script>